.ShowcaseContainer {
  width: 80%;
  height: 85vh;
  min-height: 700px;
  background-color: var(--dark-background-color);
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  padding: 0.25rem 3rem;
}

@media only screen and (max-width: 1024px) {
  .ShowcaseContainer {
    width: 85vw;
    padding: 10px 10px;
  }
}

.CarouselContainer {
  padding: 1%;
  margin-left: auto;
  margin-right: auto;
  height: 50%;
  margin-top: 5px;
  max-width: 850px;
  max-height: 50vh;
  min-height: 200px;
}

.ProjectShowcaseInfoContainer {
  text-align: left;
  display: grid;
  height: 50%;
  grid-template-rows: 10% 60% 30%;
}

.ProjectShowcaseInfoContainer h1 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.ProjectShowcaseInfoContainer h4 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.ProjectShowcaseInfoContainer p {
  overflow-y: auto;
}

.ProjectShowcaseInfoContainer div {
  font-size: 1.2rem;
}

.ShowcaseRowContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ShowcaseRowItem {
  margin-left: 12px;
  color: var(--secondary-color);
}

.ProjectTitle {
  font-size: 1.6rem;
}
