.MediaContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 25vw;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.MediaButton {
  background-color: var(--primary-color);
  height: 40px;
  width: 40px;
  font-size: 24px;
  border-radius: 20px;
}

.MediaButton:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}

.VideoPlayer {
  margin: 5px;
  width: 100%;
  height: 100%;
}
.ImageViewer {
  margin: 5px;
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .ProjectShowcase .MediaCarousel {
    height: 100%;
    width: 100%;
    min-width: 300px;
  }

  .MediaButton {
    width: 30px;
  }
  .MediaContainer {
    height: auto;
    width: 100%;
  }

  .VideoPlayer {
    height: auto;
    width: calc(100% - 50px);
  }

  .ImageViewer {
    height: auto;
    width: calc(100% - 50px);
  }
}
