.ProjectCard {
  width: 100%;
  height: 90%;
  border-radius: 10px;
  background-color: var(--dark-background-color);
  overflow: hidden;
  text-align: left;
  padding-bottom: 5px;
}

.ProjectCardSelected {
  width: 100%;
  height: 90%;
  border-radius: 10px;
  background-color: var(--dark-background-color);
  overflow: hidden;
  text-align: left;
  outline: solid 5px var(--secondary-color);
}

.ProjectCard:hover {
  cursor: pointer;
}

.ProjectCardSelected:hover {
  cursor: pointer;
}

.ProjectCard p {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.ProjectCardSelected p {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.ProjectThumbnailContainer {
  width: 100%;
  height: 50%;
  overflow: hidden;
}

.ProjectThumbnailContainer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.ProjectInfoContainer {
  height: 45%;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
}

.ProjectInfoContainer h2 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.TechnologiesContainer {
  display: flex;
  flex-direction: row;
  margin-top: auto;
}

.TechnologyTag {
  height: fit-content;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 10px;
  font-weight: 800;
  color: var(--secondary-color);
}
